body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.fixContent{
    width: 400px;
    height: 400px;
    border: 2px solid red;
    overflow: hidden;
}
.container{
    width: 400px;
    height: 400px;
    display: flex;
    transition: transform 1s linear;
    transform: translateX(0);
}
img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}